/* Global */
body {
    background-color: #0f172a;
    color: #e5e7eb;
}

/* Cards */
.card {
    background: #020617;
    border-radius: 14px;
    padding: 18px;
    border: 1px solid #1e293b;
}

/* Headings */
.title {
    font-size: 38px;
    font-weight: 800;
    color: #38bdf8;
}

.subtitle {
    font-size: 16px;
    color: #94a3b8;
}

/* Buttons */
.stButton > button {
    background: linear-gradient(90deg, #38bdf8, #22c55e);
    color: black;
    border-radius: 10px;
    height: 45px;
    font-weight: 600;
}

.stButton > button:hover {
    background: linear-gradient(90deg, #22c55e, #38bdf8);
}

/* Mood buttons */
.mood {
    background: #020617;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #334155;
    text-align: center;
    cursor: pointer;
}

/* Context tags */
.tag {
    background: #1e293b;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
